<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.havona.www.teby">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Main" />
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.NotConnectedActivity" />
        <activity android:name=".view.ChooseCharacterActivity" />
        <activity android:name=".view.ColorCharacterActivity" />
        <activity android:name=".view.IconCharacterActivity" />
        <activity android:name=".view.CharacteristicCharacterActivity" />
        <activity android:name=".view.NeedBeCharacterActivity" />
        <activity android:name=".view.IntrigueCharacterActivity" />
        <activity android:name=".view.HimselfCharacterActivity" />
        <activity android:name=".view.SunCharacterActivity" />
        <activity android:name=".view.PresentationActivity"></activity>
    </application>

</manifest>